<div class="navbar navbar-default">
  <a class="navbar-brand" [routerLink]="['/']">Angular5</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']">Data Binding</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/about','2']">About</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/dir']">Directive</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/pipe']">Pipe</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/inheritance']">Inheritance</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/masterdetails']">Master Details</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/hooks']">Hooks</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/service1']">Service1</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/service2']">Service2</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
